body {
	background-color: #83BDF7;

ol {
	list-style-type: decimal;
	border: 2px solid #FFFFFF;
	border-radius: 15px;
	width: fit-content;    
	padding: 25px 25px;
	list-style-position: inside; 
}

ul {	
	list-style-type: circle;
	list-style-position: inside; 
	border: 2px solid #FFFFFF;
	border-radius: 15px;
	width: fit-content;    
	padding: 25px 25px;
}

nav a:hover {
  color: blue;
  text-decoration: underline;
}


section {
  margin-bottom: 40px;
  padding: 10px;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

p, h2, h3, ul, ol, nav {
  margin-bottom: 20px;
}

header, nav {
	text-align: center;
}