/* Import link for dancing script font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* Import link for EB garmond font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

h1, h2, h3, li{
    font-family: "Dancing Script", cursive;
}

p { 
    font-family: "EB Garamond", serif;
}

#form{
    margin: 25px 50px 75px 100px;
    border: 1px solid lightseagreen;
    padding: 30px;
    border-radius: 10px;
    width: fit-content;
}
